@model WeatherModel
@{
    ViewBag.Title = "Gotten Weather";
}

<h1>The weather for @Model.Timezone</h1>
<div>
    <p>Summary: @Model.Currently.Summary</p>
    <p>Temperature: @Model.Currently.Temperature &#8457</p>
    <p>Humidity: @Model.Currently.Humidity &#37</p>
</div>
